<div class="landing-page-nav-bar">
  <div class="nav-item">
    <a
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
  </div>
  <div class="nav-item">
    <a routerLink="/about" routerLinkActive="active">About</a>
  </div>
  <div class="nav-item">
    <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
  </div>
  <div class="nav-item">
    <a routerLink="/auth" routerLinkActive="active">Sign In</a>
  </div>
</div>
